<div id="about" class="content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae corrupti beatae nesciunt
    excepturi quaerat cum officia ab, ipsa praesentium labore provident libero, numquam vel
    impedit facilis, nisi dolorum consectetur neque!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Eligendi tempora recusandae voluptatem natus dignissimos
    commodi itaque officiis, accusamus adipisci obcaecati tempore laboriosam suscipit debitis
    maiores, at, sint qui. Voluptatum, rerum.</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Error mollitia assumenda incidunt ab, eveniet ipsum ipsa nemo aut
    laboriosam, tenetur? Ex eaque modi corporis impedit labore pariatur, eius
    dicta molestias.
    </p>
</div>