<nav id="main"
sn-skrollr
    data-start="position:absolute;top:0;width:100%;background:rgba(255,255,255,0.00001)"
    data--90p-top="padding:5px;position:fixed;width:100%;background:rgba(44, 62, 80,1.0);z-index:100"
>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Research <span class="blue">Lab</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a du-smooth-scroll du-scroll-spy="anchor" href="#about">About</a></li>
          <li><a du-smooth-scroll offset="50" du-scroll-spy="anchor" href="#portfolio">Portfolio</a></li>
          <li><a du-smooth-scroll du-scroll-spy="anchor" href="#careers">Careers</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
