$typl8-scale: (
typl8-tera: 117,
typl8-giga: 90,
typl8-mega: 72,
typl8-alpha: 60,
typl8-beta: 48,
typl8-gamma: 26,
typl8-delta: 21,
typl8-epsilon: 18,
typl8-zeta: 14,
) !default;

@import "bootstrap";
@import "typeplate/styles";

$alice_blue:#E4F1FE;
$red:#e26a6a;
$black: #000;
$grey:#F2F1EF;
$sec-grey:#34495E;
$blue:#2C3E50;
$green:#68C3A3;
$medium_aqua_marine:#66CC99;

body{
  overflow-x: hidden;
  font-family:Lato;
  background:$grey;
  height:auto !important;
  @extend .typl8-zeta;
  margin-bottom:0;
}
nav#main,nav#dashboard{
  @extend .navbar;
  @extend .navbar-default;
  @extend .typl8-delta;
  border:none;
  background: transparent;
  border-radius: 0;
  padding: 1rem;
  .navbar-right{
    margin-right: 0 !important;
  }
  .navbar-brand{
    color:white !important;
    span.blue{
      color:#95A5A6;
    }
    // padding:0 !important;
    // margin:0 !important;
    // a{
    //   padding:0 !important;
    //   /* padding:25px 25px !important; */
    // }
  }
  li{
    list-style: none;
    a{
      color:white !important;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
  li:hover,li.active{
    a{
      color:$red !important;
      background: transparent !important;
    }
  }

}
nav#dashboard{
  background:$green;
  padding:5px 10px;
}
// Image Styles
.image-wrapper{
  position:relative;
  img.full-screen,.description{
    width:100%;
    min-height:100%;
    position:absolute;
    top:0;
    left:0;
  }
  .description{
    position: relative;
    h1,h2,h3,h4,h5,h6{
      text-align:center;
      // padding:6rem 0;
      color:white;
    }
    .bottom{
      position: absolute;
      width:100%;

    }
  }
}
.content{
  padding:2% 10%;
  margin-bottom: 0;
  h3{
    text-align: center;
  }
}
#about,#members{
  background: $grey;
  @extend .typl8-delta;
  min-height:100%;
}
#about{
  background: $red;
  color:white !important;
  h1,h2,h3,h4,h5,h6{
    color:$blue !important;
  }
}
// Sections
#banner{
  background:url('../images/machine.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
// Lists
ol{
  li{
    margin:2rem 0;
  }
}

// Slick
.slick-dots{
  bottom:30px !important;
  li{
    button:before{
      font-size:20px !important;
      color:white !important;
    }
  }
}
.slick-prev,.slick-next{
  z-index: 200000 !important;
}
.slick-prev{
  left:0 !important;
}
.slick-next{
  right:0 !important;
}
// Cards
.inner.card{
  li{
  a{
    color:$red !important;
}
}
li.active{
  a{
    background:$red !important;
    color:white !important;
}
}
}

// books
.book{
  h5{
    margin-bottom:0.5em;
  }
  .title{
    color:$blue;
  }
  .author{
    color:$red;
  }
  .tags{
    a{
      margin-right:5px;
      font-size:0.8em;
      color:#999;
      text-decoration:none;
    }
    a:hover{
      color:#666;
    }
    
  }
  img{
    @extend .img-responsive;
    width:100%;
    height:200px;
    margin-bottom:0.5em;
  }
  .footer{
    color:#666;
    position:relative;
    .owner{
      color:$blue;
        font-style:italic;
    }
    .copies{
      margin-left:10px;
    }
    .status{
      float:right;
    }
  }
}